doctype html
html(lang="en")
  head
    title="Input File"

  body
    h1 Test Input file
    form(method="GET" action="")
      input(id="file" name="myFile" type="file" multiple)
      input(name="submit" type="submit")

    script(src="script.js")
